Repository nanocurrency/nano-node, pull requests merged in 2021-06, with the labels that each got.

#3280 Remove election restart by difficulty
  nano/core_test/active_transactions.cpp
  nano/core_test/node.cpp
  nano/node/active_transactions.cpp
  nano/node/active_transactions.hpp
  nano/node/blockprocessor.cpp
  nano/node/blockprocessor.hpp
Labels: functionality quality improvements

#3333 Improve delegators rpc by adding "count", "head", and "threshold" parameters (#3330)
  nano/node/json_handler.cpp
  nano/rpc_test/rpc.cpp
Labels: documentation, rpc

#3337 Add "successor" field to RPC "block_info" & "blocks_info"
  nano/node/json_handler.cpp
  nano/rpc_test/rpc.cpp
Labels: documentation, rpc

#3343 Fix RPC "active_difficulty" returning empty string as "difficulty_trend" (#3323)
  nano/node/json_handler.cpp
  nano/rpc_test/rpc.cpp
Labels: rpc

#3347 Simplify RPC tests initialization
  nano/rpc_test/rpc.cpp
Labels: unit test

#3356 Simplify RPC tests response check
  nano/rpc_test/rpc.cpp
Labels: unit test

#3358 Fix half principal rep check
  nano/node/active_transactions.cpp
  nano/node/wallet.cpp
  nano/node/wallet.hpp
Labels: quality improvements
