Repository nanocurrency/nano-node, pull requests merged in 2024-01, with the labels that each got.

#4360 very minor assert improvement
  nano/core_test/conflicts.cpp
Labels: unit test, exclude from changelog

#4361 Fix conflicts.add_two unit test
  nano/core_test/conflicts.cpp
  nano/test_common/chains.cpp
  nano/test_common/chains.hpp
  nano/test_common/testutil.cpp
  nano/test_common/testutil.hpp
Labels: unit test, exclude from changelog

#4363 Improve assert statements of failing test to see why it is failing
  nano/core_test/active_transactions.cpp
Labels: unit test, exclude from changelog

#4370 Move rpc_context and test_response classes into their own files.
  nano/rpc_test/CMakeLists.txt
  nano/rpc_test/common.cpp
  nano/rpc_test/common.hpp
  nano/rpc_test/receivable.cpp
  nano/rpc_test/rpc.cpp
  nano/rpc_test/rpc_context.cpp
  nano/rpc_test/rpc_context.hpp
  nano/rpc_test/test_response.cpp
  nano/rpc_test/test_response.hpp
Labels: unit test, exclude from changelog

#4374 Fix bug/warning about temporary object lifetime
  nano/node/ipc/flatbuffers_handler.cpp
Labels: bug

#4382 Fix for node.fork_publish_inactive
  nano/core_test/node.cpp
Labels: unit test, exclude from changelog

#4385 Fixing a race condition in active_transactions.fork_replacement_tally
  nano/core_test/active_transactions.cpp
Labels: unit test, exclude from changelog

#4387 Fix rpc receivable unconfirmed and rpc.accounts_receivable_confirmed
  nano/rpc_test/receivable.cpp
Labels: unit test, exclude from changelog

#4386 Fix active_transactions.confirm_frontier
  nano/core_test/active_transactions.cpp
Labels: unit test, exclude from changelog

#4388 Simplify system::get_available_port()
  nano/core_test/network.cpp
  nano/test_common/network.cpp
  nano/test_common/network.hpp
  nano/test_common/system.cpp
  nano/test_common/system.hpp
Labels: non-functional change, exclude from changelog

#4384 Remove cleanup functions related to unchecked blocks.
  nano/core_test/node.cpp
  nano/node/bootstrap/bootstrap_legacy.cpp
  nano/node/cli.cpp
  nano/node/node.cpp
  nano/node/node.hpp
  nano/node/nodeconfig.hpp
Labels: enhancement

#4395 Remove rule from code inspector script that enforces nano locks
  ci/impl/code-inspector.sh
Labels: exclude from changelog

#4396 Fix nano timed locks
  nano/lib/locks.cpp
Labels: exclude from changelog

#4383 Fix bootstrap unit tests
  nano/core_test/bootstrap.cpp
  nano/test_common/system.cpp
  nano/test_common/system.hpp
  nano/test_common/testutil.cpp
  nano/test_common/testutil.hpp
Labels: unit test, exclude from changelog

#4400 Avoid printing warning about cerr and colors in default cli mode
  nano/lib/logging.cpp
Labels: exclude from changelog

#4401 Fix active transactions vote replays
  nano/core_test/active_transactions.cpp
Labels: unit test, exclude from changelog
