Repository nanocurrency/nano-node, pull requests merged in 2024-04, with the labels that each got.

#4537 Election age statistics
  nano/node/election.hpp
  nano/node/json_handler.cpp
  nano/rpc_test/rpc.cpp
Labels: documentation, rpc

#4548 Bugfix add_outer_node(), it should be added to disconnected set of nodes
  nano/test_common/network.cpp
Labels: unit test, exclude from changelog

#4553 Documentation for pending key and info classes and some other improvements whilst investigating
  nano/core_test/CMakeLists.txt
  nano/core_test/receivable.cpp
  nano/secure/ledger.cpp
  nano/secure/ledger.hpp
  nano/secure/pending_info.hpp
  nano/test_common/testutil.cpp
  nano/test_common/testutil.hpp
Labels: exclude from changelog

#4536 Fair queuing for vote processor
  nano/core_test/active_transactions.cpp
  nano/core_test/fair_queue.cpp
  nano/core_test/toml.cpp
  nano/core_test/vote_processor.cpp
  nano/lib/stats_enums.hpp
  nano/node/active_transactions.cpp
  nano/node/blockprocessor.cpp
  nano/node/fair_queue.hpp
  nano/node/node.cpp
  nano/node/node.hpp
  nano/node/nodeconfig.cpp
  nano/node/nodeconfig.hpp
  nano/node/rep_tiers.cpp
  nano/node/rep_tiers.hpp
  nano/node/vote_processor.cpp
  nano/node/vote_processor.hpp
  nano/node/websocket.cpp
  nano/slow_test/vote_processor.cpp
Labels: continuous-testing

#4582 Fix a TSAN issue in active_transactions.confirm_new
  nano/core_test/active_transactions.cpp
Labels: unit test, exclude from changelog

#4585 Stop using boost::asio::ip::udp::endpoint
  nano/boost/asio/ip/udp.hpp
  nano/lib/common.hpp
  nano/node/common.hpp
  nano/node/distributed_work.cpp
  nano/node/network.hpp
  nano/node/node.cpp
Labels: exclude from changelog

#4575 Fix unit test bootstrap_processor.lazy_pruning_missing_block
  nano/core_test/bootstrap.cpp
  nano/secure/ledger.cpp
  nano/secure/ledger.hpp
  nano/test_common/testutil.cpp
  nano/test_common/testutil.hpp
Labels: unit test, exclude from changelog

#4589 Improve unit test telemetry.basic
  nano/core_test/telemetry.cpp
Labels: unit test, exclude from changelog

#4592 Style fix, pass transaction as first argument.
  nano/core_test/active_transactions.cpp
  nano/core_test/conflicts.cpp
  nano/core_test/election.cpp
  nano/core_test/election_scheduler.cpp
  nano/core_test/ledger.cpp
  nano/core_test/network.cpp
  nano/core_test/node.cpp
  nano/node/active_transactions.cpp
  nano/node/node.cpp
  nano/node/process_live_dispatcher.cpp
  nano/node/scheduler/priority.cpp
  nano/node/scheduler/priority.hpp
  nano/rpc_test/rpc.cpp
Labels: non-functional change, exclude from changelog
