Repository nanocurrency/nano-node, pull requests merged in 2025-03, with the labels that each got.

#4820 Extend bootstrap related RPC commands
  nano/core_test/bootstrap.cpp
  nano/lib/stats_enums.hpp
  nano/node/bootstrap/account_sets.cpp
  nano/node/bootstrap/account_sets.hpp
  nano/node/bootstrap/bootstrap_service.cpp
  nano/node/bootstrap/bootstrap_service.hpp
  nano/node/bootstrap/database_scan.cpp
  nano/node/bootstrap/database_scan.hpp
  nano/node/bootstrap/frontier_scan.cpp
  nano/node/bootstrap/frontier_scan.hpp
  nano/node/bootstrap/peer_scoring.cpp
  nano/node/bootstrap/peer_scoring.hpp
  nano/node/bootstrap/throttle.cpp
  nano/node/bootstrap/throttle.hpp
  nano/node/json_handler.cpp
  nano/node/json_handler.hpp
  nano/node/node.cpp
  nano/node/node.hpp
  nano/rpc/rpc_handler.cpp
  nano/rpc_test/rpc.cpp
Labels: documentation, rpc

#4744 QT wallet: proper display of state open block in GUI history
  nano/qt/qt.cpp
  nano/qt_test/qt.cpp
Labels: qt wallet

#3734 Update confirmation_info RPC call to include representatives final votes for monitoring purposes
  nano/node/json_handler.cpp
  nano/rpc_test/rpc.cpp
  nano/test_common/testutil.cpp
  nano/test_common/testutil.hpp
Labels: debug, rpc
